body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover{
    background-color: #1f1f1f;
    transition-duration: 1s;
}

.principal {
    background-image: url('imagens/img4.jpg'); 
    background-position: left top;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    border-radius: 0px 0px 10px 10px;
}

.principal-lugar {
    max-width: 600px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    color: rgb(99, 99, 99);
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
    text-decoration: underline;
}

.produtos-destaque {
    padding: 50px 0;
    text-align: center;
}

.produtos-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.produto {
    width: calc(33.33% - 20px); /* Define a largura de cada produto */
    margin-bottom: 20px; 
}


@media screen and (max-width: 768px) {
    .produto {
        width: calc(50% - 20px); 
    }
}


@media screen and (max-width: 480px) {
    .produto {
        width: calc(100% - 20px); 
    }
}

.link-botao {
    display: inline-block;
    background-color: black; 
    color: white; 
    width: 145px;
    border: 2px solid black; 
    border-radius: 20px; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.link-botao:hover {
    background-color: white; 
    color: black; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
footer p a {
  text-decoration: none;
  color: white;
}

footer p a:hover{
    text-decoration: underline;
}
